/* ==========================================================================
   footer styling
   ========================================================================== */
footer{
	position:relative;
	overflow:hidden;
	height:140px;
	color:white;
	clear:both;
	background:$site-color4;
  .copyright{
  	float:left;
  }
  @include respond(999) {
	  .menu{
	   display:none;
	  }
  }
  .menu{
  	float:right;
  	padding: 13px 0;
  }
	ul{
	li{
		a:link, a:visited{
			color:white;
		}
		a:focus, a:hover,a.active{
			color:$site-color2;
		}
	}
	}

}
