/* ==========================================================================
   General
   ========================================================================== */
body {
	font-family: $font-family1;
	font-size: 18px;
	line-height: 22px;
	-webkit-text-size-adjust: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	overflow-x: hidden;
	position: relative;
	color: $site-color4;
	background: white;
	overflow-x: hidden;
  	position: relative;
  	left: 0;
  	@include respond(999) {
	    width: 100%;
	}
}
.content-width {
	margin: 0 auto;
	max-width: 1250px;
	position: relative;
}
main{
	position: relative;
  clear: both;
  padding:80px 0;
  @include respond(999) {
    padding:20px 0;
  }
}
.inner-content-centered{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
}
.content-padding {
	padding: $site-padding;
}

.top-bottom-padding{
	padding:$site-padding 0;
}
.side-padding{
	padding:0 $site-padding;
}
.left-padding{
	padding-left:$site-padding;
}
.right-padding{
	padding-right:$site-padding;
}
.no-padding{
	padding:0px;
}
.top-bottom-margin{
	margin:$site-margin 0;
}
.side-margin{
	margin:0 $site-margin;
}
.left-margin{
	margin-left:$site-margin;
}
.right-margin{
	margin-right:$site-margin;
}
.no-margin{
	margin:0px;
}
/* ==========================================================================
   page elements
   ========================================================================== */
h1{
	font-weight:bold;
	color: $site-color2;
    font-size:48px;
    span{
		color:$site-color1;
	  }
}
h2{
	font-weight:bold;
	color: $site-color2;
    font-size:24px;
    span{
		color:$site-color1;
		font-size:14px;
	  }
}
h3{
	font-weight:bold;
	color: $site-color2;
  newsfont-size:18px;
}
strong{
	color:$site-color2;
}
ul{
	padding: 0;
	display:inline;
}
p{
	padding:15px 0;
}
/*****Element/tag selectors********/
li, ol, dl {
    padding:5px 0;
    list-style-type: none;
    display:inline;
}
li.last ,ol.last, dl.last {
    padding:0px;
}
/***********Links***************/
a:link, a:visited {
	text-decoration: none;
	color:$links-color;
}
a:hover, a:focus {
	text-decoration: none;
}