/* ==========================================================================
   Header styling
   ========================================================================== */
body.inner header{
	background:$site-color6;
}
header{
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	z-index:999;
	clear:both;
  nav{
    text-align:center;
		ul.menu{
			float:left;
		}
		ul.footer.menu{
		  display:none;
		  width:100%;
		}
		.language-switcher{
			float:right;
			.btn{
				background: transparent none repeat scroll 0% 0%;
				color: white;
				.caret{
					margin-left: 5px;
				}
			}
			@include respond(999) {
					float:none;
					clear:both;
					text-align:center;
			}
			.dropdown-menu{
					min-width:100%;
					background: transparent;
					color: white;
					li > a{
							color: white;
					}
					li:hover a{
							color: black;
							backround:$site-color2;
					}
					@include respond(999) {
						text-align:right;
					}
			}
		}
		ul.menu li{
			position: relative;
		  display: inline-block;
		  a{
		  	color:white;
		  }
		  a.active,a:hover{
		  		color:$site-color2;
		  }
		}
  }
  @include respond(999) {
   nav{
   		ul.menu {
   			padding-top:50px;
   		  li{
   				position: relative;
					display: block;
					text-align: center;
					margin: 20px;
					font-size: 20px;   		  
   		  }
   		}
      ul.footer.menu {
        display:block;
      }
   }
  .btn-pushmenu {
    cursor: pointer;
  	height: 55px;
  	width: 55px; 
    display: block;
    position: fixed;
    z-index: 9999; 
    right:0px;
    top:0px;
    border: none;
		border-radius: 0;
    .glyphicon{
			color:$site-color2;
			font-size:28px;
		}
		color:white;
		background:rgba(0, 0, 0, 0.5);
  }
  .btn:active, .btn.active{
			background:none!important;
			box-shadow: none!important;
			outline:none!important;
		}
  .pushmenu {
    display: none;
    position: fixed;
    z-index: 9999;
		background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    display: block;
    right: -320px;
    left: auto;
    width: 320px;
    padding:50px;
    height: 100%;
    overflow: visible;
    top: 0px; 
   }
  .pushmenu-left {
    right: -320px; 
       	-webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease;
   }
  .pushmenu-left.pushmenu-open {
    right: 0; 
   }
  .pushmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0; 
   }
  .pushmenu-push-toright {
    right: 320px; 
   }
   .btn-pushmenu-push-toright {
    right: 225px; 
   }
  /*Transition*/
  .pushmenu, .pushmenu-push,.btn-pushmenu{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
  }
	}

}
header.sticky{
		position:fixed;
		-webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease;
		background-color: rgba(0, 0, 0, 0.5);
		nav{
		  ul.menu li{
			  a{
			  	color:white;
			  }
			  a.active,a:hover{
			  		color:$site-color2;
			  }
			}
	  }
}