$section-height: 960px;
$section-height-mobile: 750px;
$section-height-half: 475px;
$section-height-third: 315px;
$section-height-fourth: 225px;

/* ==========================================================================
   Home section
   ========================================================================== */
#home {
	background: url(../img/home-bg.jpg) no-repeat center center;
	-webkit-background-attachment: fixed;
  background-attachment: fixed;
	background-color: #222;
	background-size: cover;
	padding: 0;
	position: relative;
	color:white;
	.content-width{
		height:100%;
	}

}
#home:before {
	content: "";
	background-color: rgba(26, 30, 35, 0.65);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* ==================== 	@include respond(999) {
		.content-padding{
			padding:25px 0; 
		}
  }======================================================
   About section
   ========================================================================== */
#about {
	background: white;
	position: relative;
  clear:both;
	.biography{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid #EEEEEE;
    position: relative;
    text-align:center;
    ul{
    padding:25px 20px 30px;
    display:block;
    li{
	    padding:10px;
	    font-size: 16px;
	    border-bottom:1px solid #eee;
	    display:block;
		}
		li:last-child{
    border-bottom:0;
		}
		}
	}
	.short-info{
	 	@include respond(999) {
			h3{text-align:center;}
		}
	}
	ul.list-check li{
	    position: relative;
	    font-size: 18px;
	    line-height: 32px;
	}
	ul.list-check li::before {
	    content: "\f00c";
	    font-family: fontawesome;
	    color: #68c3a3;
	    margin-right: 10px;
	}
	.myphoto{
	    position: relative;
	    padding: 5px;
		img{
			max-width:100%;
		}
	}
}
/* ==========================================================================
   Skills section
   ========================================================================== */
#skills {
	background: url(../img/bg1.jpg) no-repeat center center;
	-webkit-background-attachment: fixed;
  background-attachment: fixed;
	background-color: #222;
	background-size: cover;
	padding: 0;
	position: relative;
	clear:both;
	height:$section-height;
	color:white;
	.section-title{
	    color: white;
	    margin:40px 0;
	}
	.content-padding{
		padding:60px 0; 
	}
 	@include respond(999) {
 		height:auto;
		.content-padding{
			padding:25px 0; 
		}
  }
	.skills-section .section-title h2{
	    color: #fff;
	}
	.skill-title {
	    width: 25%;
	    float: left;
	}
	.skill-title h3{
	    font-size: 18px;
	    font-weight: 400;
	    margin-top: -6px;
	    text-transform: capitalize;
	}
	.skill-progress {
	    position: relative;
	}
	.progress {
	    height: 10px;
	    margin-bottom: 40px;
	    background-color: $site-color1;
	    border-radius: 3px;
	    box-shadow: none;
	    width: 75%;
	}
	
	.progress-bar {
		  background-image: none;
	    background-color:  $site-color2;
	}
	.progress-bar span{
	    position: absolute;
	    top: -20px;
	    right: 15px;
	}
	.progress .progress-bar.six-sec-ease-in-out {
	  -webkit-transition: width 2s ease-in-out;
	  -moz-transition: width 2s ease-in-out;
	  -o-transition: width 2s ease-in-out;
	  transition:  width 2s ease-in-out;
	}
	.skill-chart h3 {
	    margin-top: 20px;
	}
	
	.our-progress{
	    margin:10px 0 30px;
	}
	
	.progress-percent{
	    margin-left: auto;
	    margin-right: auto;
	}
	
	.our-progress h3{
	    font-weight: 400;
	    margin-bottom: 5px;
	}
	.chart {
	    position: relative;
	    display: inline-block;
	    width: 140px;
	    height: 140px;
	    margin: 40px auto;
	    text-align: center;
	}
	.chart canvas {
	    position:absolute; 
	    top:0; 
	    left:0;
	}
	.percent {
	    display: inline-block;
	    margin: auto;
	    line-height: 140px;
	    z-index: 2;
	    font-size: 25px;
	    font-weight: 500;
	    text-align: center;
	}
	.percent:after {
	    content: '%';
	}	
}
#skills:before {
	content: "";
	background-color: rgba(26, 30, 35, 0.65);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* ==========================================================================
   Expeirience section
   ========================================================================== */
#experience {
	position: relative;
	clear:both;
	.resume-title{
	  text-align: center;
	  margin: 40px 0;  
	}
	.content-padding{
		padding:100px 0; 
	}
 	@include respond(999) {
		.content-padding{
			padding:25px 0; 
		}
  }
	.timeline {
    padding: 0;
    list-style: none;
	}
	.resume{
    position: relative;
	}
	.resume:before{
		content: "";
		position: absolute;
		width: 12px;
		height: 12px;
		background-color: #e1e1e1;
		left: 50%;
		margin-left: -7px;
		border-radius: 8px;
	}
	.resume:after{
	    content: "";
	    position: absolute;
	    bottom: -8px;
			width: 12px;
			height: 12px;
	    background-color: #e1e1e1;
	    left: 50%;
	    margin-left: -7px;
	    border-radius: 8px;
	}
	.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #e1e1e1;
	}	

	.timeline>li {
	    margin-bottom: 50px;
	    min-height: 50px;
	}
	
	.timeline>li:before,
	.timeline>li:after {
	    content: " ";
	    display: table;
	}
	
	.timeline>li:after {
	    clear: both;
	}
	
	.timeline>li .timeline-panel {
	    float: left;
	    position: relative;
	    width: 100%;
	}
	
	.timeline-content{
	    padding:5px 20px 0 20px;
	}
	
	.timeline>li .timeline-panel:before {
	    right: auto;
	    left: -15px;
	    border-right-width: 15px;
	    border-left-width: 0;
	}
	
	.timeline>li .timeline-panel:after {
	    right: auto;
	    left: -14px;
	    border-right-width: 14px;
	    border-left-width: 0;
	}
	
	.timeline>li .posted-date {
	    position: relative;
	    text-align: center;
	    background-color: #fff;
	    left: 20px;
	}
	
	
	.timeline>li .posted-date .month {
	    font-size: 16px;
	    line-height: 20px;
	    font-weight: 700;
	    display: block;
	    color: #2c3e50;
	    top: 0;
	    float: left;
	    width: 120px;
			height: 25px;
	}
	
	.timeline>li.timeline-inverted>.timeline-panel {
	    float: right;
	    text-align: left;
	}
	
	.timeline>li.timeline-inverted>.timeline-panel:before {
	    right: auto;
	    left: -15px;
	    border-right-width: 15px;
	    border-left-width: 0;
	}
	
	.timeline>li.timeline-inverted>.timeline-panel:after {
	    right: auto;
	    left: -14px;
	    border-right-width: 14px;
	    border-left-width: 0;
	}
	
	.timeline>li:last-child {
	    margin-bottom: 0;
	}
	
	.timeline-heading h3 {
	    font-size: 20px;
	    line-height: 28px;
	}
	.timeline-heading span{
	    display: block;
	    font-weight: 700;
	    margin-bottom: 20px;
	}
	
	@media(min-width:992px) {
	.timeline:before {
	    left: 50%;
	}
	
	.timeline>li {
	    margin-bottom: 15px;
	    min-height: 100px;
	}
	
	.timeline>li .posted-date {
	    position: absolute;
	    text-align: center;
	    background-color: #fff;
	}
	
	.timeline>li .timeline-panel {
	    float: left;
	    width: 43%;
	    text-align: right;
	    border: 1px solid #eee;
	    position: relative;
	    border-radius:30px;
	}
	
	.timeline-content{
	    position: relative;
	    padding: 24px;
	    background-color: #fff;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	    border-radius:30px;
	}
	
	.timeline-content::after{
	    width: 100%;
	    position: absolute;
	    content: "";
	    bottom: -3px;
	    height:10px;
	    left: 0;
	    z-index: -1;
	}
	
	.timeline>li .timeline-content:hover {
	    background: $site-color6;
	    color: #fff;
	}
	.timeline>li .timeline-panel::before,
	.timeline>li.timeline-inverted .timeline-panel::before {
	    content: "";
	    top: 25px;
	    position: absolute;
	    border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
	}
	.timeline>li .timeline-panel::before {
	    left: 100%;
	    border-left: 12px solid #ECECEC;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	}
	.timeline>li .timeline-panel:hover::before {
	    border-left: 12px solid $site-color2;
	}
	
	.timeline>li.timeline-inverted .timeline-panel::before {
	    right: 100%;
	    border-right: 12px solid #ECECEC;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	}
	.timeline>li.timeline-inverted .timeline-panel:hover::before {
	    border-right: 12px solid $site-color6;
	    border-left: 0;
	}
	
	.timeline>li .timeline-panel::after,
	.timeline>li.timeline-inverted .timeline-panel::after {
	    content: "";
	    top: 25px;
	    position: absolute;
	    border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
	}
	.timeline>li .timeline-panel::after {
	    left: 100%;
	    margin-left: -2px;
	    border-left: 12px solid #FFFFFF;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	}
	.timeline>li .timeline-panel:hover::after {
	    border-left: 12px solid $site-color6;
	}
	
	.timeline>li.timeline-inverted .timeline-panel::after {
	    right: 100%;
	    margin-right:-2px;
	    border-right: 12px solid #FFFFFF;
	    -webkit-transition:all 400ms;
	    -moz-transition:all 400ms;
	    -o-transition:all 400ms;
	    transition: all 400ms;
	}
	.timeline>li.timeline-inverted .timeline-panel:hover::after {
	    border-right: 12px solid $site-color6;
	    border-left: 0;
	}
	
	.timeline>li .posted-date {
	    left: 50%;
	    width: 120px;
	    margin-left: -60px;
	    margin-top: 28px;
	}
	.timeline>li .posted-date .month {
	    float: none;
	}

	}
	
	
}
/* ==========================================================================
   portfolio section
   ========================================================================== */
#portfolio {
	background: url(../img/blog-bg.jpg) no-repeat center center;
	-webkit-background-attachment: fixed;
  background-attachment: fixed;
	background-color: #222;
	background-size: cover;
	padding: 0;
	color:white;
	position: relative;
	clear:both;
	height:850px;
	 	@include respond(999) {
 		height:auto;
  }
	.blog-post-wrapper {
    padding: 4px;
	}
	.section-title{
		color:white;
	}
	.figure {
	    position: relative;
	}
	.figure i{
	    position: absolute;
	    bottom: -8px;
	    right: 30px;
	    color: #fff;
	    font-size: 18px;
	    z-index: 100;
	}
	.figure i:after {
	    position: absolute;
	    content: "";
	    left: -12px;
	    top: -10px;
	    width: 40px;
	    height: 40px;
	    background-color: $site-color2;
	    z-index: -1;
	    border-radius: 50%;
	    -webkit-transform: rotate(45deg);
	       -moz-transform: rotate(45deg);
	        -ms-transform: rotate(45deg);
	         -o-transform: rotate(45deg);
	            transform: rotate(45deg);
	}
	
	.post-thumbnail {
	    margin-bottom: 20px;
	    overflow: hidden;
	}
	.post-thumbnail img{
	    opacity: 0.8;
	    -webkit-transition: all 0.5s linear;
	    -moz-transition: all 0.5s linear;
	    -ms-transition: all 0.5s linear;
	    -o-transition: all 0.5s linear;
	    transition: all 0.5s linear;
	    min-height: 245px;
	    @include respond(999) {
				min-height: auto;
			}
	}
	.post-thumbnail img:hover {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	    -o-transform: scale(1.05);
	    transform: scale(1.05);
	}
	
	
	.entry-title {
	    font-size: 16px;
	    line-height: 25px;
	    font-weight: 700;
	}
	.entry-title a{
	    color: white;
	}
	.entry-title a:hover{
	    color: $site-color2;
	}
	.entry-meta {
	    color: $site-color2;
	}
	.entry-meta ul {
	    margin-bottom: 10px;
	}
	.entry-meta ul li {
	    padding: 0 10px;
	}
	.entry-meta ul li a{
	    display: inline-block;
	    color: #BBBBBB;
	    font-weight: 400;
	}
}
#portfolio:before {
	content: "";
	background-color: rgba(26, 30, 35, 0.65);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


